<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appname"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PaymentPage"/>
        <activity android:name=".DetailsView" />
        <activity android:name=".ViewBookedRooms" />
        <activity android:name=".SearchRooms" />
        <activity android:name=".OwnerDisplayRooms" />
        <activity android:name=".NewRoomAdd" />
        <activity android:name=".ProfilePages.OwnerPage" />
        <activity android:name=".ProfilePages.UserPage" />
        <activity android:name=".SplashScreens.WelcomeActivity" />
        <activity android:name=".LoginRegisterPages.MainActivity" />
        <activity android:name=".SplashScreens.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginRegisterPages.RegisterActivity" />
    </application>

</manifest>